# Getting started with Python
In this lab, we will review the basics of Python language and some of the most well-known data science libraries.

### Prerequisites:

- Installation of [Anaconda](https://www.anaconda.com/products/individual)  (Python 3) and Python environments.

Table of content:

- <a href='#PythonIntroduction'>Python Introduction</a>
    - <a href='#BasicTypes'>Basic Types</a>
- <a href='#Libraries'>Libraries</a>
    - <a href='#numpy'>numpy</a>
    - <a href='#matplotlib'>matplotlib</a>
    - <a href='#pandas'>pandas</a>
    - <a href="#scikit-learn">scikit-learn</a>

<a id='PythonIntroduction'></a>
## Python Introduction

Below are the links to the resources that can help you to learn Python language

- <a href='https://www.python.org/doc/'>Python website</a>
- <a href='https://docs.python.org/3/tutorial/'>Official tutorial</a>
- <a href='https://www.learnpython.org/'>LearnPython.org interactive Python tutorial </a>
- <a href='https://www.datacamp.com/courses/intro-to-python-for-data-science'>DataCamp Introduction to Python </a>
- <a href='https://cognitiveclass.ai/courses/python-for-data-science'>Python for Data Science</a>

<a id='BasicTypes'></a>
### Basic Types

#### Integer

In [1]:
1 # integer

1

In [2]:
int(1) # same

1

#### Float

In [3]:
1.0 # float

1.0

In [4]:
float(1) # same

1.0

Converting string to int

In [5]:
int("1") # string to int

1

#### Variable

In [6]:
a = 1 + 2  #make a variable
print(a)

3

#### Range

In [7]:
range(0,10) # 0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [8]:
range(10) # same

range(0, 10)

In [9]:
b = range(0,10)
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

#### List

In [10]:
L = [1, 2, 3] # list
print(L)

[1, 2, 3]

In [11]:
# indexing
L[0], L[1], L[2] # first, second, third

(1, 2, 3)

In [12]:
L[-1], L[-2], L[-3] # last, one before last, two before last

(3, 2, 1)

In [13]:
L[0] = 4 # lists are mutable
print(L)

[4, 2, 3]

In [14]:
#
# QUESTION
#
# Q.1 Change the last element in the list L to 100 and print the element. Type your answer below:

#### Tuple

In [15]:
T = (1, 2, 3) # tuple
print(T)

(1, 2, 3)

In [16]:
T[1]

2

In [17]:
try:
    T[0] =4  # not allowed, tuples are immutable
except Exception as e:
    print(e)
#
# QUESTION
# 
# Q.2 What happens if you remove try excpet part and just type T[0]=4 ?

'tuple' object does not support item assignment

#### Set

In [18]:
S = set()
print(S)

set()

In [19]:
S.add(1) # S = {1}
print(S)

{1}

In [20]:
S.add(2) # S = {1}
print(S)

{1, 2}

In [21]:
S.add(1) # S = {1}
print(S)

{1, 2}

In [22]:
#
# QUESTION
#
# Q.3 Add the element 10 to the set S and print the set:

#### Dictionary

In [23]:
D = {'a': 1, 'b': 2}
print(D)

{'a': 1, 'b': 2}

In [24]:
#
# QUESTION
#
D.keys(), D.values(), D.items()   # Q.4 Explain the fuctions keys, values & items

(dict_keys(['a', 'b']), dict_values([1, 2]), dict_items([('a', 1), ('b', 2)]))

In [25]:
D['a'] # access by key

1

In [26]:
del D['a'] # remove key, value pair
print(D)

{'b': 2}

#### String

In [27]:
S = "hello world"
S[0], S[1], S[2] # first, second, third" #string

('h', 'e', 'l')

In [28]:
S[0], S[1], S[2] # first, second, third

('h', 'e', 'l')

In [29]:
S[-1], S[-2], S[-3] # last, one before last, two before last

('d', 'l', 'r')

In [30]:
try:
    S[0] = 'H' # not allowed, strings are immutable
except Exception as e:
    print(e)

'str' object does not support item assignment

In [31]:
# HOWEVER
S = 'H' + S[1:] # reconstruct S with new first character and use indexing [1:]
print(S)

Hello world

#### Slicing

In [32]:
S[0:10] # from index-0 (included) to index-9 (index-10 excluded)

'Hello worl'

In [33]:
S[:10] # same, ommiting first index starts from 0 (begining)

'Hello worl'

In [34]:
S[1:] # ommiting last index ends at the end of the array

'ello world'

In [35]:
S[0:10:2] # 0 to 9 with step size 2 i.e. even indices 0,2,4,6,8

'Hlowr'

In [36]:
#
# QUESTION
#
# Q.5 Print the fisrt word from the string S. Type your code below

#### List Comprehension

In [37]:
L1 = [1,2,3]

print(L1)

[1, 2, 3]

In [38]:
# L2 contains double the value for each element in L1

L2 = [element*2 for element in L1]
print(L2)

[2, 4, 6]

<a id="Libraries"></a>
## Libraries

<a id="numpy"></a>
### numpy
Mostly can be used for  **arrays, vectors and numerical computations.**


<a href="https://numpy.org/">Official Website</a>


**PIP**

If you use pip, you can install it with:

`pip install numpy`

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
a = np.zeros(10)
print('a=\n', a)

In [ ]:
b = np.ones(10)
print('b=\n', b)

In [ ]:
print('a-b=', a-b)

In [ ]:
c = np.zeros((2,2))
print(c)

In [ ]:
c[0,0] = 1; c[0,1] = 2; c[1,0] = 3; c[1,1] = 4
print('c=', c)

In [ ]:
d = np.array([[1,2], [3,4]]) # construct from python nested list
print('d\n', d)

In [ ]:
print('c == d\n', c == d)

In [ ]:
print('(c==d).sum()\n', (c==d).sum())

In [ ]:
arr = np.zeros((3,5)) # 3 rows , 2 columns

In [ ]:
print(arr)

In [ ]:
arr[0:2]=100   # fill in all elements from row 0 to row 1 with '100'
print(arr)

In [ ]:
arr[:,4:]= 5   # fill in colums starting at index 4 with '5'
print(arr)

In [ ]:
print(arr[:2,1:])      # print first 2 rows and colums from 1 to end

In [ ]:
#
# QUESTION
#
# Q.6 print the first row in the array 'arr'

In [ ]:
#
# QUESTION
#
# Q.7 print the last column in the array 'arr'

In [ ]:
arr = np.random.random((2,3)) # random assignement to elements of array 
print(arr)

In [ ]:
arr[:,1]     # Q.8 What does this function print?

<a id="matplotlib"></a>
## matplotlib
Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations

<a href="https://matplotlib.org/">Official Website</a>

<a href="https://matplotlib.org/users/installing.html">Installation Guide</a>

**PIP**

If you use pip, you can install it with:

`pip install matplotlib`

In [ ]:
#%matplotlib inline #This command is to plot graphs within the notebook
import matplotlib.pylab as plt

In [ ]:
plt.plot(range(10), range(10))
plt.plot(range(10), range(1,11), c='green', linestyle=':')
plt.show()

In [ ]:
#
# QUESTION
#
# Q.9 look up the the functions plot(), bar(), scatter() & hist() 
fig, ax = plt.subplots(1,2, figsize=(12,4))
ax[0].scatter(range(10), range(10))
ax[0].scatter(range(10), range(1,11), c='red', marker='x')

ax[1].bar(range(10), range(10), 0.5, alpha=0.5) # alpha for transparency
ax[1].bar(np.arange(10)-0.3, np.arange(0,5,0.5), 0.5, alpha=0.5)
plt.show()

<a id="pandas"></a>
## pandas
pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool

<a href="https://pandas.pydata.org/">Official Website</a>

<a href="https://pandas.pydata.org/getting_started.html">Installation Guide</a>

**PIP**

If you use pip, you can install it with:

`pip install pandas`

In [ ]:
import pandas as pd

# from dictionary
d = {1: [1,2,3], 2: [4,5,6]}

# keys: data index
# values: row values
df1 = pd.DataFrame.from_dict(d, orient='index')  # df1 is your pandas frame which contains your data 
print('index oriented')
display(df1.head())

In [ ]:
# keys: columns
# values: column values
df2 = pd.DataFrame.from_dict(d, orient='columns') 
print('columns oriented')
display(df2.head())

In [ ]:
# from comma-seperated-value (cvs)
import io # to create a virtual file (String buffer)

csv = """width,height
10,20
3,5
30,40
11,12
1.5,2.5"""

df3 = pd.read_csv(io.StringIO(csv)) # df3 data frame records width and height for  4 instances
print('df3')
display(df3.head())

In [ ]:
# creating new column
# method 1
df3['area 1'] = df3['width'] * df3['height']

def func(row):
    return row.width * row.height
# method 2
df3['area 2'] = df3.apply(func, axis=1)

print('df3 modified')
display(df3.head())
#
# QUESTION
#
# Q.10 Create a new colums with a categorical value S, M, L & XL

In [ ]:
display(df3.describe()) # display full statistical summary of the records including mean, std, min, max,...etc

In [ ]:
df3.plot(kind='bar')

<a id="scikit-learn"></a>
## scikit-learn
Machine Learning in Python. Simple and efficient tools for predictive data analysis

<a href="https://scikit-learn.org/stable/">Official Website</a>

<a href="https://scikit-learn.org/stable/install.html">Installation Guide</a>

**PIP**

If you use pip, you can install it with:

`pip install sklearn`

In [ ]:
# some models for classification and regression
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

# model selection tools
from sklearn.model_selection import KFold, train_test_split, GridSearchCV

# metrics
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, precision_score, recall_score, confusion_matrix